@import '../base.scss';
@import '../mixin.scss';
.section_price {
    padding: 100px 0 100px 0;
    @media (max-width: $mw768) {
        padding: 80px 0 80px 0;
        
    }
}

.price {
    margin-bottom: 0;
    @media (max-width: $mw768) {
        margin-bottom: 50px;
        
    }
}

.price_container_plug {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

.price_plug {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    border: solid 1px $gold;
    padding: 43px 0 43px 0;
    &_title {
        margin: 0;
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 56px;
        color: $white;
        margin-bottom: 20px;
        &.ligth{
            color: $black;
        }
    }
    &_cost {
        margin: 0;
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 48px;
        color: $gold;
        margin-bottom: 20px;
        &.ligth{
            color: $black;
        }
    }
}

.price_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    &_text{
        margin: 0;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 36px;
        color: $white;
        &.ligth{
            color: $black;
        }
        &:last-child{
            margin-bottom: 40px;
        }

    }
}