/* Colors */
/* Breakpoints */
/* Styles */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.body {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  background-color: #000000;
  margin: 0;
}
.body._lock {
  overflow: hidden;
}
.body.ligth {
  color: #000000;
  background-color: #ffffff;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  max-width: 1440px;
}

.button {
  border-radius: 0px;
  font-size: 20px;
  line-height: 40px;
  height: 55px;
  width: 220px;
  cursor: pointer;
  transition: all ease 0.5s;
}

.gold {
  background: #bdae82;
  color: #000000;
  transition: all ease 0.5s;
}
.gold:hover {
  color: #ffffff;
}

.black {
  border: solid 1px #bdae82;
  background: #000000;
  color: #bdae82;
  transition: all ease 0.5s;
}
.black:hover {
  color: #ffffff;
}

.section_title {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
@media (max-width: 419.99px) {
  .section_title {
    width: 80%;
  }
}
@media (max-width: 1400px) {
  .section_title {
    margin-bottom: calc(45px + 15 * ((100vw - 320px) / 1080));
  }
}
.section_title_text {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  margin: 0;
  color: #bdae82;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  overflow: hidden;
}
@media (max-width: 1400px) {
  .section_title_text {
    font-size: calc(30px + 10 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1400px) {
  .section_title_text {
    line-height: calc(38px + 42 * ((100vw - 320px) / 1080));
  }
}
.section_title_text.ligth {
  color: #000000;
}
.section_title_text:before, .section_title_text:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #bdae82;
  z-index: -1;
  position: relative;
  vertical-align: middle;
}
.section_title_text:before {
  right: 15px;
  margin: 0 0 0 -100%;
}
.section_title_text.ligth:before {
  background: #000000;
}
.section_title_text:after {
  left: 15px;
  margin: 0 -100% 0 0;
}
.section_title_text.ligth:after {
  background: #000000;
}

.section_price {
  padding: 100px 0 100px 0;
}
@media (max-width: 767.99px) {
  .section_price {
    padding: 80px 0 80px 0;
  }
}

.price {
  margin-bottom: 0;
}
@media (max-width: 767.99px) {
  .price {
    margin-bottom: 50px;
  }
}

.price_container_plug {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}

.price_plug {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  border: solid 1px #bdae82;
  padding: 43px 0 43px 0;
}
.price_plug_title {
  margin: 0;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 56px;
  color: #ffffff;
  margin-bottom: 20px;
}
.price_plug_title.ligth {
  color: #000000;
}
.price_plug_cost {
  margin: 0;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 48px;
  color: #bdae82;
  margin-bottom: 20px;
}
.price_plug_cost.ligth {
  color: #000000;
}

.price_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price_content_text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #ffffff;
}
.price_content_text.ligth {
  color: #000000;
}
.price_content_text:last-child {
  margin-bottom: 40px;
}

/*# sourceMappingURL=price.css.map */
