@import '../mixin.scss';
@import '../base.scss';

.footer{
    @media (max-width: $mw768) {
        padding-bottom: 20px;       
    }
}

.data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $mw768) {
        flex-direction: column;     
    }
}
.year_github {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.footer_text,.github {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    text-decoration: none;
}
.github{
    transition: all ease 0.5s;
    color: $white;
    &.ligth{
        color: $black;
    }
    &:hover{
        text-shadow: 2px 2px 0px $gold;
    }
}

.footer_links {
    display: flex;
    &_link{
        cursor: pointer;
        transition: all ease 0.5s;
        &:not(:last-child){
            margin-right: 20px;
        }
        &:hover{
            filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
        }
    &_svg{
        &.ligth{
            filter: brightness(0%);
        }   
    }
    }
}