/* Colors */
/* Breakpoints */
/* Styles */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.body {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  background-color: #000000;
  margin: 0;
}
.body._lock {
  overflow: hidden;
}
.body.ligth {
  color: #000000;
  background-color: #ffffff;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  max-width: 1440px;
}

.button {
  border-radius: 0px;
  font-size: 20px;
  line-height: 40px;
  height: 55px;
  width: 220px;
  cursor: pointer;
  transition: all ease 0.5s;
}

.gold {
  background: #bdae82;
  color: #000000;
  transition: all ease 0.5s;
}
.gold:hover {
  color: #ffffff;
}

.black {
  border: solid 1px #bdae82;
  background: #000000;
  color: #bdae82;
  transition: all ease 0.5s;
}
.black:hover {
  color: #ffffff;
}

.section_title {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
@media (max-width: 419.99px) {
  .section_title {
    width: 80%;
  }
}
@media (max-width: 1400px) {
  .section_title {
    margin-bottom: calc(45px + 15 * ((100vw - 320px) / 1080));
  }
}
.section_title_text {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  margin: 0;
  color: #bdae82;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  overflow: hidden;
}
@media (max-width: 1400px) {
  .section_title_text {
    font-size: calc(30px + 10 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1400px) {
  .section_title_text {
    line-height: calc(38px + 42 * ((100vw - 320px) / 1080));
  }
}
.section_title_text.ligth {
  color: #000000;
}
.section_title_text:before, .section_title_text:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #bdae82;
  z-index: -1;
  position: relative;
  vertical-align: middle;
}
.section_title_text:before {
  right: 15px;
  margin: 0 0 0 -100%;
}
.section_title_text.ligth:before {
  background: #000000;
}
.section_title_text:after {
  left: 15px;
  margin: 0 -100% 0 0;
}
.section_title_text.ligth:after {
  background: #000000;
}

.section_contact {
  padding: 60px 0 140px 0;
  background-image: url("../assets/image/contacts.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.section_contact.ligth {
  background-image: url("../assets/ligth/contacts_ligth.jpg");
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 767.99px) {
  .contact {
    align-items: center;
  }
}
.contact_title {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  color: #bdae82;
}
.contact_title.ligth {
  color: #000000;
}

@media (max-width: 767.99px) {
  .wrapper_contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.form {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767.99px) {
  .form {
    align-items: center;
  }
}
.form input {
  width: 450px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #BDAE82;
  border-radius: 0px;
  padding: 5px 0 5px 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
  margin-bottom: 20px;
}
.form input.ligth {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000000;
}
@media (max-width: 474.99px) {
  .form input {
    width: 100%;
  }
}
.form input::placeholder {
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
  margin-bottom: 20px;
}
.form input.ligth::placeholder {
  color: #000000;
}
.form textarea {
  width: 450px;
  resize: none;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #BDAE82;
  border-radius: 0px;
  padding: 5px 0 55px 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
  margin-bottom: 30px;
}
.form textarea.ligth {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000000;
}
@media (max-width: 474.99px) {
  .form textarea {
    width: 100%;
  }
}
.form textarea::placeholder {
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
  margin-bottom: 20px;
}
.form textarea.ligth::placeholder {
  color: #000000;
}

/*# sourceMappingURL=contact.css.map */
