@import '../mixin.scss';
@import '../base.scss';

.section_contact {
    padding: 60px 0 140px 0;
    background-image: url('../assets/image/contacts.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    &.ligth{
        background-image: url('../assets/ligth/contacts_ligth.jpg');
    }
}


.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media (max-width: $mw768) {
        align-items: center;
        
    }
    &_title{
        margin: 0;
        margin-bottom: 40px;
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 80px;
        color: $gold;
        &.ligth{
            color: $black;
        }

    }
}

.wrapper_contact{
    @media (max-width: $mw768) {
        display: flex;
        flex-direction: column;
        align-items: center;    
    }
    
}

.form {
    display: flex;
    flex-direction: column;
    @media (max-width: $mw768) {
        align-items: center;    
    }
    input{
        width: 450px;
        background: rgba(0, 0, 0, 0.5);
        border: 2px solid #BDAE82;
        border-radius: 0px;
        padding: 5px 0 5px 20px;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        color: $gold;
        margin-bottom: 20px;
        &.ligth{
            background-color: rgba(255, 255, 255, 0.5);
            color: $black;
        }
        @media (max-width: $mw475) {
            width: 100%;    
        }
        &::placeholder{
            font-weight: 400;
            font-size: 20px;
            line-height: 40px;
            color: $gold;
            margin-bottom: 20px;
        }
        &.ligth::placeholder{
            color: $black;
        }
    }
    textarea{
        width: 450px;
        resize: none;
        background: rgba(0, 0, 0, 0.5);
        border: 2px solid #BDAE82;
        border-radius: 0px;
        padding: 5px 0 55px 20px;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        color: $gold;
        margin-bottom: 30px;
        &.ligth{
            background-color: rgba(255, 255, 255, 0.5);
            color: $black;
        }
        @media (max-width: $mw475) {
            width: 100%;    
        }
        &::placeholder{
            font-family: 'Inter';
            font-weight: 400;
            font-size: 20px;
            line-height: 40px;
            color: $gold;
            margin-bottom: 20px;
        }
        &.ligth::placeholder{
            color: $black;
        }
    }
}