@import '../base.scss';
@import '../mixin.scss';

.section_portfolio {
    padding-top: 100px;
    @media (max-width: $mw768) {
        padding-top: 80px;
    }
}
.buttons_container {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    @media (max-width: $mw992) {
        display: grid;
        grid-template-columns: repeat(2,220px);
        gap: 5px;
        
    }
    @media (max-width: 500px) {
        grid-template-columns: 100%;
        justify-items: center;
        row-gap: 10px;     
    }
    
}
.button {
    &:not(:last-child){
        margin-right: 5px;
        @media (max-width: $mw768) {
            margin-right: 0;
            
        }
    }
    
}
.container_image {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}
.container_image_img {
    /* Пасхалка */
    width: 450px;
    height: 560px;
    @media (max-width: $mw768) {
        width: 100%;
        
    }
}