@charset "UTF-8";
/* Colors */
/* Breakpoints */
/* Styles */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.body {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  background-color: #000000;
  margin: 0;
}
.body._lock {
  overflow: hidden;
}
.body.ligth {
  color: #000000;
  background-color: #ffffff;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  max-width: 1440px;
}

.button {
  border-radius: 0px;
  font-size: 20px;
  line-height: 40px;
  height: 55px;
  width: 220px;
  cursor: pointer;
  transition: all ease 0.5s;
}

.gold {
  background: #bdae82;
  color: #000000;
  transition: all ease 0.5s;
}
.gold:hover {
  color: #ffffff;
}

.black {
  border: solid 1px #bdae82;
  background: #000000;
  color: #bdae82;
  transition: all ease 0.5s;
}
.black:hover {
  color: #ffffff;
}

.section_title {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
@media (max-width: 419.99px) {
  .section_title {
    width: 80%;
  }
}
@media (max-width: 1400px) {
  .section_title {
    margin-bottom: calc(45px + 15 * ((100vw - 320px) / 1080));
  }
}
.section_title_text {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;
  margin: 0;
  color: #bdae82;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  overflow: hidden;
}
@media (max-width: 1400px) {
  .section_title_text {
    font-size: calc(30px + 10 * ((100vw - 320px) / 1080));
  }
}
@media (max-width: 1400px) {
  .section_title_text {
    line-height: calc(38px + 42 * ((100vw - 320px) / 1080));
  }
}
.section_title_text.ligth {
  color: #000000;
}
.section_title_text:before, .section_title_text:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #bdae82;
  z-index: -1;
  position: relative;
  vertical-align: middle;
}
.section_title_text:before {
  right: 15px;
  margin: 0 0 0 -100%;
}
.section_title_text.ligth:before {
  background: #000000;
}
.section_title_text:after {
  left: 15px;
  margin: 0 -100% 0 0;
}
.section_title_text.ligth:after {
  background: #000000;
}

.section_video {
  padding-top: 100px;
}
@media (max-width: 767.99px) {
  .section_video {
    padding-top: 80px;
  }
}

.video-player {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.video {
  width: 100%;
  /* Пасхалка */
  max-height: 768px;
}
@media (max-width: 419.99px) {
  .video {
    height: auto;
  }
}

.play_btn {
  position: absolute;
  background-image: url("./assets/svg/play-btn.svg");
  width: 130px;
  height: 130px;
  background-size: contain;
  cursor: pointer;
}
@media (max-width: 767.99px) {
  .play_btn {
    width: 80px;
    height: 80px;
  }
}
.play_btn:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(100%);
}

video {
  border: solid 1px #bdae82;
}
video::-webkit-media-controls {
  display: none !important;
}

.control-panel {
  position: relative;
  display: flex;
  width: 100%;
  height: 60px;
  border: solid 1px #bdae82;
  border-top: 0;
  align-items: center;
  padding-right: 20px;
  background: #000000;
}
@media (max-width: 767.99px) {
  .control-panel {
    flex-wrap: wrap;
    flex-direction: column;
    padding-right: 0;
  }
}
.control-panel_play-pause {
  background-image: url("./assets/svg/play.svg");
  width: 60px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  transition: 0.3s;
}
@media (max-width: 767.99px) {
  .control-panel_play-pause {
    position: absolute;
    left: 0px;
    top: 17px;
  }
}
.control-panel_play-pause.pause {
  background-image: url("./assets/svg/pause.svg");
}
.control-panel_play-pause:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(100%);
}
.control-panel_volume-button {
  background-image: url("./assets/svg/volume.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 30px;
  cursor: pointer;
  transition: 0.3s;
}
@media (max-width: 767.99px) {
  .control-panel_volume-button {
    position: absolute;
    left: 50px;
    top: 17px;
  }
}
.control-panel_volume-button.mute {
  background-image: url("./assets/svg/mute.svg");
}
.control-panel_volume-button:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(100%);
}
.control-panel_progress-line {
  width: 80%;
  -webkit-appearance: none;
  height: 5px;
  outline: none;
}
@media (max-width: 767.99px) {
  .control-panel_progress-line {
    position: absolute;
    top: 0;
    width: 100%;
  }
}
.control-panel_progress-line::-webkit-slider-thum {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
  background: #8b8a8a;
}
.control-panel_progress-volume {
  background: linear-gradient(to right, #bdae82 0%, #bdae82 40%, #c8c8c8 40%, #c8c8c8 100%);
  width: 15%;
  -webkit-appearance: none;
  height: 5px;
}
@media (max-width: 767.99px) {
  .control-panel_progress-volume {
    position: absolute;
    left: 108px;
    width: calc(100% - 120px);
    top: 30px;
  }
}
.control-panel_progress-volume::-webkit-slider-thum {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
  background: #8b8a8a;
}

/*# sourceMappingURL=video.css.map */
